name: CI

on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Build all
        run: yarn build

      - name: Run tests
        run: yarn test --coverage
  semgrep:
    if: github.event_name == 'pull_request'
    uses: Pagnet/github-actions/.github/workflows/semgrep-scan.yml@main
    secrets: inherit
